Package: com.galacticdev.isponsorblock
Name: iSponsorBlock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
